/* color variables */
/* for basic text and border */
/* for dark text and deep border */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
}
/* typology setting */
.small-text {
  font-size: 12px;
}
.medium-text {
  font-size: 14px;
}
.large-text {
  font-size: 16px;
}
.notice-text {
  color: #C90000;
}
/* header part */
.header-section {
  padding-top: 3vh;
}
.navbar-content {
  background-color: #F6F6F7;
}
.navbar-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10vw;
  /* when mini shows turn to white background and show border*/
}
.navbar-block .navbar-link {
  cursor: pointer;
  color: #888888;
  padding: 1vh 0;
}
.main-section {
  margin-top: 5vh;
  padding: 0 9vw;
}
.main-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.image-section {
  margin: 0 9vw;
}
.image-section .image-sample {
  width: 28vw;
  height: 84vh;
}
.intro-section {
  margin-right: 1vw;
}
.intro-content {
  margin-bottom: 2vh;
}
.intro-content .intro-header {
  font-size: 24px;
  margin: 0;
}
.intro-content .intro-price {
  padding: 1vh 0;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
}
.intro-content .intro-descrip {
  color: #888888;
  margin-bottom: 4vh;
}
.select-header {
  color: #888888;
  font-weight: 700;
}
.select-header .select-size {
  color: #222222;
}
.select-block {
  display: flex;
  align-items: flex-start;
  margin: 4vh 0;
}
.select-block .select-btn {
  cursor: pointer;
  padding: 12px 16px;
  border: 1px solid #888888;
  color: #888888;
  margin-right: 8px;
}
.select-block .selected {
  color: #222222;
  border: 2px solid #222222;
}
.select-btn-add {
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  color: #222222;
  border: 2px solid #222222;
  padding: 8px 16px;
  transition: all 0.2s;
}
.select-btn-add:hover {
  color: #ffffff;
  background-color: #222222;
}
/* mini cart css */
.dropdown-block {
  position: relative;
}
.dropdown-content {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  right: 0;
  min-width: 21vw;
  border: 1px solid #888888;
}
.dropdown-content .small-image {
  height: 110px;
  width: 72px;
}
.dropdown-content .dropdown-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1vw;
  margin-bottom: 1vh;
}
.dropdown-content .dropdown-intro {
  margin-left: 1vw;
}
.dropdown-content .dropdown-intro .intro-price-break {
  margin-top: 8px;
  margin-bottom: 16px;
}
.dropdown-content .dropdown-intro .intro-price {
  color: #222222;
  font-weight: 600;
}
