/* color variables */
@header-background: #F6F6F7;
@notice-red: #C90000;
@light-grey: #CCCCCC;
@basic-grey: #888888;  /* for basic text and border */
@dark-grey: #222222;   /* for dark text and deep border */
@border-grey: #f8f8f8;
@white: #ffffff;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.main {
    width: 100%;
}

/* typology setting */
.small-text {
    font-size: 12px;
}

.medium-text {
    font-size: 14px;
}

.large-text {
    font-size: 16px;
}

.notice-text {
    color: @notice-red;
}

/* header part */
.header-section {
    padding-top: 3vh;
}

.navbar-content { 
    background-color: @header-background;
}

.navbar-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10vw;

    /* when mini shows turn to white background and show border*/
    .navbar-link {
        cursor: pointer;
        color: @basic-grey;
        padding: 1vh 0;
    }
}

.main-section {
    margin-top: 5vh;
    padding: 0 9vw;
}

.main-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.image-section {
    margin: 0 9vw;

    .image-sample {
        width: 28vw;
        height: 84vh;
    }
}

.intro-section {
    margin-right: 1vw;
}

.intro-content {
    margin-bottom: 2vh;

    .intro-header {
        font-size: 24px;
        margin: 0;
    }

    .intro-price {
        padding: 1vh 0;
        border-top: 1px solid @border-grey;
        border-bottom: 1px solid @border-grey;
    }

    .intro-descrip {
        color: @basic-grey;
        margin-bottom: 4vh;
    }
}

.select-header {
    color: @basic-grey;
    font-weight: 700;

    .select-size {
        color: @dark-grey;
    }
}

.select-block {
    display: flex;
    align-items: flex-start;
    margin: 4vh 0;

    .select-btn {
        cursor: pointer;
        padding: 12px 16px;
        border: 1px solid @basic-grey;
        color: @basic-grey;
        margin-right: 8px;
    }

    .selected {
        color: @dark-grey;
        border: 2px solid @dark-grey;
    }
}

.select-btn-add {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    color: @dark-grey;
    border: 2px solid @dark-grey;
    padding: 8px 16px;
    transition: all .2s;
    
    &:hover {
        color: @white;
        background-color: @dark-grey;
    }
}

/* mini cart css */
.dropdown-block {
    position: relative;
}
.dropdown-content {
    position: absolute;
    background-color: @white;
    display: flex;
    flex-direction: column;
    padding: 8px 8px;
    right: 0;
    min-width: 21vw;
    border: 1px solid @basic-grey;

    .small-image {
        height: 110px;
        width: 72px;
    }

    .dropdown-item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 1vw;
        margin-bottom: 1vh;
    }

    .dropdown-intro {
        margin-left: 1vw;

        .intro-price-break {
            margin-top: 8px;
            margin-bottom: 16px;
        }
        .intro-price {
            color: @dark-grey;
            font-weight: 600;
        }
    }
}