<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FancyMoustacheRepublic!</title>   
    <link rel="stylesheet" href="css/style.css" type="text/css" />
 
</head>
<body> 
    <div class="main" id="app">
        <header class="header-section">
            <div class="navbar-content">
                <div class="navbar-block">
                    <div class="dropdown-block">
                        <div class="navbar-link small-text" 
                            @mouseover="isShowMiniCart = true"
                            @mouseleave="isShowMiniCart = false">My Cart( {{ cartTotalCount }} )</div>
                        <div v-if="isShowMiniCart" class="dropdown-content">
                            <div v-if="cartTotalCount === 0">no item in cart</div>
                            <div v-else>
                                <div v-for="(sizeNum, key, index) in filterCart"
                                    :key="index"
                                    class="dropdown-item">
                                    <div class="dropdown-img">
                                        <img class="small-image" src="./img/classic-tee.jpg" alt="classic-Tee">
                                    </div>
                                    <div class="dropdown-intro medium-text">
                                        <span class="">Classic Tee</span>
                                        <p class="intro-price-break">{{ sizeNum}}x  <span class="intro-price">$75.00</span></p>  
                                        <p class="">Size: {{ key }}</p>                              
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-section">
            <div class="main-content">
                <div class="image-section">
                    <div class="image-block">
                        <img class="image-sample" src="./img/classic-tee.jpg" alt="classic-Tee">
                    </div>
                </div>
                <div class="intro-section">
                    <div class="intro-content">
                        <p class="intro-header">Classic Tee</p>
                        <p class="intro-price">$75.00</p>
                        <div class="intro-descrip medium-text">
                            Dolor sit amet, consectetur adipiscing elit. Haec et tu ita posuisti, et verba vestra sunt. Quod autem ratione actum est, id officium appellamus dolor sit amet.<br>consectetur adipiscing elit. Haec et tu ita posuisti, et verba vestra sunt. Quod autem ratione actum est, id officium appellamus dolor sit amet.
                        </div>
                    </div>
                    <div class="select-content">
                        <div class="select-header small-text ">SIZE<span class="notice-text">*</span><span class="select-size">{{ selectedSize }}</span></div>
                        <div class="select-block small-text">
                            <div v-for="(option, key) in sizeOptions" 
                                :key="key" 
                                class="select-btn" 
                                :class="{ selected: option }" 
                                @click="selectSize(key)">{{ key }}</div>
                        </div>
                        <div class="select-btn-add medium-text" @click="checkAddToCart()">ADD TO CART</div>
                        <p v-show="isError" class="notice-text">Don't forget to select size :)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- import vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script> 
    <!-- import personal js -->
    <script src="js/index.js"></script>
</body>

</html>